/* 

	Arquivo CSS geral com estilos dos elementos de todas páginas 

*/

* {
  box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 62.5%; /* equivalente a 10px */
}

img{
  max-width: 100%;
  height: auto;
}

body {
	background-color: skyblue;
}

h1 {
	font-size: 2rem;
  text-align: center;
  padding-bottom: 5px;
}

p {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}


h2 {
	font-size: 25px;
  font-family: Arial, Helvetica, sans-serif
}

form {
	background: #eee;
	padding: 10px;
}

form div {
	background: #fff;
	border-bottom: 1px solid #33f;
	margin: 1rem;
	padding: 2rem;
}

label {
	margin-bottom: 1rem;
	font-size: 1.4rem; 
	font-family: sans-serif;
	font-weight: bold;
	color: #66F;
}

input {
	padding: 1rem;
}

[type="text"], [type="email"], textarea, label {
	display: block;
	width: 100%;
}

header {
  background-color: steelblue;
  padding: 30px;
  text-align: center;
  font-size: 50px;
  color: white;
}

h3 {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-weight: bold;
  text-align: left;
}

nav {
  float: left;
  width: 30%;
  padding: 20px;
  background-color: skyblue;
}

nav ul {
  list-style-type:circle;
  padding: 5px;
  list-style-position: inside;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  /* background-color: yellow; */
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #eee;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
}


.coluna {
  display: block;
  width: 33.3%;
  float:left;
  padding: 5px;
  /* background-color: #eee;
  border: 1px solid #333; */
}

.coluna-3 {
  columns: 100px 2;
  width: 50%;
}

iframe{
  width: 100%;
}

.coluna-100w{
  width: 100%;
}

/* Mobile First */

/* Tablet */

@media (min-width: 769px) {
  body {
    background-color: teal;
    color: #fff;

  }

  p,h3,li,a{
    color: whitesmoke;
  }
  
}

@media (max-width: 768PX) {
  nav {
    width: 30vw;
  }
  article {
    width: 70vw;

  }
  .coluna{
    width: 50vw;
    min-width: unset;
  }
}  
/*  Smartphone */

@media (max-width: 425px) {
  nav,
  article,
  .coluna{
    width: 100%;
    min-width: 320px;
  }
}




